#toggleButton {
  position: absolute;
  top: 180px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
  height: 48px;
  width: 48px;
  background-color: white;
  background-image: url('../../images/Backpack-Luggage--Streamline-Atlas.svg');
}

#details {
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 2000;
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  max-width: 800px;
  /* Scroll only details div, not whole page*/
  max-height: 95%;
  overflow-y: auto;
}

#details.hidden {
  display: none;
}

.category {
  margin-bottom: 20px;
}

.category-title {
  font-weight: bold;
  font-size: 1.1em;
  font-family: inherit;
  border-bottom: 1px solid grey;
}

.item {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  gap: 0;
  margin-bottom: 0;
  border-bottom: 1px solid lightgrey;
  padding: 0.5em 0;
}

.item-row {
  display: contents;
}

.item-name {
  grid-column: 1;
  font-weight: 500;
  font-family: inherit;
  word-break: break-word;
}
.item-desc {
  grid-column: 2;
  font-weight: 500;
  font-family: inherit;
  word-break: break-word;
}
.item-qty {
  grid-column: 3;
  text-align: right;
  font-family: inherit;
  color: #555;
}
.item-weight {
  grid-column: 4;
  text-align: right;
  font-family: inherit;
  font-size: 0.97em;
}

.category-total {
  text-align: right;
  font-weight: bold;
  margin-top: 6px;
  font-size: 1em;
  color: #333;
  font-family: inherit;
}

.summary-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-bottom: 1.5em;
  align-items: flex-end;
}

.summary-container > div {
  min-width: 150px;
  font-size: 1em;
}

.base-weight strong {
  font-weight: bold;
  color: #222;
}

@media (max-width: 600px) {
  .item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0.5em 0;
  }
  .item-name {
    grid-column: 1;
    grid-row: 1;
  }
  .item-qty {
    grid-column: 2;
    grid-row: 1;
    color: #5b5b5b;
  }
  .item-desc {
    grid-column: 1;
    grid-row: 2;
    color: #5b5b5b;
    font-size: 0.95em;
  }
  .item-weight {
    grid-column: 2;
    grid-row: 2;
  }
  .summary-container {
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
  }
}